body {
    font-family: 'Grape Nuts', cursive; 
    list-style-position: inside;
    text-align-last: center;
    background-color: #541690 ;
    font-size: 20px;
}
.header {
    color:#FF8D29;
    font-size: 48px;
}
.nav {
    font-size: 36px;
    color: whitesmoke;
}
.intro {
    color:#FF8D29; 
    font-weight: bold;
    font-size: 28px;
}
.info {
    color: whitesmoke ;
    font-family: Arial, Helvetica, sans-serif;
}
